# Virtual environments
venv/
.venv/
env/
test_env_paper/

# Python cache
__pycache__/
*.pyc

# Generated outputs
results/*
!results/README.md

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
